<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <link rel="stylesheet" href="/assetsback/css/e-learn.style.min.css">
</head>
<body>
<div id="elearn-layout" class="theme-purple">
    <div class="main px-lg-4 px-md-4">
        <div class="header">
        </div>
        <div class="body d-flex py-lg-3 py-md-2">
            <div class="container-xxl">
                <div class="row clearfix g-3">
                    <div class="col-xxl-9 col-xl-8 col-lg-8">
                        <div class="border-0 mb-4">
                            <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom">
                                <h3 class="fw-bold mb-0">Liste des cours</h3>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Nom du cours</th>
                                            <th>Description</th>
                                            <th>Format</th>
                                            <th>Points attribués</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let course of courses">
                                            <td>{{ course.courseName }}</td>
                                            <td>{{ course.courseDescription }}</td>
                                            <td>
                                                <ng-container [ngSwitch]="course.courseFormat">
                                                    <ng-container *ngSwitchCase="'PDF'">
                                                        <iframe [src]="'data:application/pdf;base64,' + course.fileData" width="150" height="200"></iframe>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="'VIDEO'">
                                                        <video width="150" controls>
                                                            <source [src]="'data:video/mp4;base64,' + course.fileData" type="video/mp4">
                                                            Your browser does not support the video tag.
                                                        </video>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="'AUDIO'">
                                                        <audio controls>
                                                            <source [src]="'data:audio/mpeg;base64,' + course.fileData" type="audio/mpeg">
                                                            Your browser does not support the audio element.
                                                        </audio>
                                                    </ng-container>
                                                    <span *ngSwitchDefault>{{ course.courseFormat }}</span>
                                                </ng-container>
                                            </td>
                                            <td>{{ course.pointsEarned }}</td>
                                            <td>
                                                <button class="btn btn-primary" (click)="editCourse(course.id)">Edit</button>
                                                <button class="btn btn-danger" (click)="deleteCourse(course.id)">Delete</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-4 col-lg-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assetsback/bundles/libscripts.bundle.js"></script>
<script src="/assetsback/bundles/fullcalendar.bundle.js"></script>
<script src="../js/template.js"></script>
</body>
</html>