.bg-light-orange {
    background-color: #fff3e6;
  }
  
  .bg-light-purple {
    background-color: #f2ecfc;
  }
  
  .text-orange {
    color: #f28500;
  }
  
  .text-purple {
    color: #6f42c1;
  }
  