<body>
  <!-- Language Switch Icons -->
  <div style="position: fixed; top: 10px; right: 10px; z-index: 9999; background: white; padding: 5px; border-radius: 5px;">

    <!-- English Language Icon -->
    <img src="https://unpkg.com/language-icons/icons/en.svg"
         (click)="switchLang('en')"
         alt="English"
         style="cursor: pointer; width: 24px; height: 24px; margin-right: 8px;" />

    <!-- French Language Icon -->
    <img src="https://unpkg.com/language-icons/icons/fr.svg"
         (click)="switchLang('fr')"
         alt="Français"
         style="cursor: pointer; width: 24px; height: 24px; margin-right: 8px;" />
    
    <!-- Arabic Language Icon -->
    <img src="https://unpkg.com/language-icons/icons/ar.svg"
         (click)="switchLang('ar')"
         alt="العربية"
         style="cursor: pointer; width: 24px; height: 24px; margin-right: 8px;" />
    
    
  </div>
<main>
  <section class="p-0 d-flex align-items-center position-relative overflow-hidden">
    <div class="container-fluid">
      <div class="row">
        <!-- Left Section with light blue background -->
        <div class="col-12 col-lg-6 d-md-flex align-items-center justify-content-center bg-primary bg-opacity-10 vh-lg-100" >
          <div class="p-3 p-lg-5 text-center">
            <h2 class="fw-bold">{{ 'WELCOME' | translate }}</h2>
            <p class="mb-0 h6 fw-light">{{ 'LEARN' | translate }}</p>
            <img src="/assets/images/element/02.svg" class="mt-5" alt="Illustration" style="max-width: 100%; height: auto;" />
            <div class="d-sm-flex mt-5 align-items-center justify-content-center">
              <ul class="avatar-group mb-2 mb-sm-0">
                <li class="avatar avatar-sm"><img class="avatar-img rounded-circle" src="/assets/images/avatar/01.jpg" alt="avatar" /></li>
                <li class="avatar avatar-sm"><img class="avatar-img rounded-circle" src="/assets/images/avatar/02.jpg" alt="avatar" /></li>
                <li class="avatar avatar-sm"><img class="avatar-img rounded-circle" src="/assets/images/avatar/03.jpg" alt="avatar" /></li>
                <li class="avatar avatar-sm"><img class="avatar-img rounded-circle" src="/assets/images/avatar/04.jpg" alt="avatar" /></li>
              </ul>
              <p class="mb-0 h6 fw-light ms-0 ms-sm-3">{{ 'WELCOME_STUDENTS' | translate }}</p>
              
            </div>
          </div>
        </div>

        <!-- Right Section: Registration Form with Background -->
        <div class="col-12 col-lg-6 m-auto p-4 rounded" style="background-color: #E6E6FA;">
          <div class="row my-3">
            <div class="col-sm-10 col-xl-8 m-auto">
              <h2 class="mb-2">{{ 'SIGNUP' | translate }}</h2>
              <p class="lead mb-2">{{ 'SIGNIN_SUBTITLE' | translate }}</p>

              <div class="container" *ngIf="!authResponse.mfaEnabled" style="background-color: rgb(255, 255, 255);">
                <div class="success-message-panel" *ngIf="message">
                  <div class="success-icon">&#10004;</div>
                  <div class="success-message">{{ message }}</div>
                </div>
                <form (ngSubmit)="registerUser()" #registerForm="ngForm" (submit)="registerForm.form.markAllAsTouched()">
                  <!-- First Name -->
                  <div class="form-group position-relative">
                    <label for="firstname">{{ 'FIRST_NAME' | translate }}</label>
                    <input id="firstname" 
                           name="firstname" 
                           required 
                           type="text" 
                           [(ngModel)]="registerRequest.firstname" 
                           #firstname="ngModel" 
                           pattern="[a-zA-Z ]*"
                           minlength="2"
                           placeholder="Enter your first name"
                           [ngClass]="{'is-valid': firstname.valid && firstname.touched, 'is-invalid': firstname.invalid && firstname.touched}">

                    <div *ngIf="firstname.invalid && firstname.touched" class="alert alert-danger">
                      <div *ngIf="firstname.errors?.['required']">First name is required.</div>
                      <div *ngIf="firstname.errors?.['pattern']">First name should only contain letters.</div>
                      <div *ngIf="firstname.errors?.['minlength']">First name should be at least 2 characters.</div>
                    </div>
                    <div *ngIf="firstname.valid && firstname.touched" class="valid-feedback">
                      <i class="bi bi-check-circle-fill"></i>
                    </div>
                  </div>

                  <!-- Last Name -->
                  <div class="form-group position-relative">
                    <label for="lastname">{{ 'LAST_NAME' | translate }}</label>
                    <input id="lastname" 
                           name="lastname" 
                           required 
                           type="text" 
                           [(ngModel)]="registerRequest.lastname" 
                           #lastname="ngModel" 
                           pattern="[a-zA-Z ]*"
                           minlength="2"
                           placeholder="Enter your last name"
                           [ngClass]="{'is-valid': lastname.valid && lastname.touched, 'is-invalid': lastname.invalid && lastname.touched}">

                    <div *ngIf="lastname.invalid && lastname.touched" class="alert alert-danger">
                      <div *ngIf="lastname.errors?.['required']">Last name is required.</div>
                      <div *ngIf="lastname.errors?.['pattern']">Last name should only contain letters.</div>
                      <div *ngIf="lastname.errors?.['minlength']">Last name should be at least 2 characters.</div>
                    </div>
                    <div *ngIf="lastname.valid && lastname.touched" class="valid-feedback">
                      <i class="bi bi-check-circle-fill"></i>
                    </div>
                  </div>
                  

                  <!-- Email -->
                  <!-- Email -->
<div class="form-group position-relative">
<label for="email">{{ 'EMAIL' | translate }}</label>
<input id="email" 
       name="email" 
       required 
       type="email" 
       [(ngModel)]="registerRequest.email" 
       #email="ngModel" 
       pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
       placeholder="Enter your email"
       [ngClass]="{'is-valid': email.valid && email.touched, 'is-invalid': email.invalid && email.touched}">

<div *ngIf="email.invalid && email.touched" class="alert alert-danger">
  <div *ngIf="email.errors?.['required']">Email is required.</div>
  <div *ngIf="email.errors?.['pattern']">Please enter a valid email address.</div>
</div>
<div *ngIf="email.valid && email.touched" class="valid-feedback">
  <i class="bi bi-check-circle-fill"></i>
</div>
</div>

<!-- Phone Number -->
<div class="form-group position-relative">
<label for="phonenumber">{{ 'PHONE_NUMBER' | translate }}</label>
<input id="phonenumber" 
       name="phonenumber" 
       required 
       type="tel" 
       [(ngModel)]="registerRequest.phonenumber" 
       #phonenumber="ngModel" 
       pattern="^\+?[1-9]\d{1,14}$"
       placeholder="Enter your phone number"
       [ngClass]="{'is-valid': phonenumber.valid && phonenumber.touched, 'is-invalid': phonenumber.invalid && phonenumber.touched}">

<div *ngIf="phonenumber.invalid && phonenumber.touched" class="alert alert-danger">
  <div *ngIf="phonenumber.errors?.['required']">Phone number is required.</div>
  <div *ngIf="phonenumber.errors?.['pattern']">Please enter a valid phone number.</div>
</div>
<div *ngIf="phonenumber.valid && phonenumber.touched" class="valid-feedback">
  <i class="bi bi-check-circle-fill"></i>
</div>
</div>


                  

                  

                  <!-- Password -->
                  <div class="form-group position-relative">
                    <label for="password">{{ 'PASSWORD' | translate }}</label>
                    <input id="password" 
                           name="password" 
                           required 
                           type="password" 
                           [(ngModel)]="registerRequest.password" 
                           #password="ngModel" 
                           pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                           minlength="8"
                           placeholder="Enter your password"
                           [ngClass]="{'is-valid': password.valid && password.touched, 'is-invalid': password.invalid && password.touched}">

                    <div *ngIf="password.invalid && password.touched" class="alert alert-danger">
                      <div *ngIf="password.errors?.['required']">Password is required.</div>
                      <div *ngIf="password.errors?.['minlength']">Password must be at least 8 characters long.</div>
                      <div *ngIf="password.errors?.['pattern']">
                        Password must contain:
                        <ul>
                          <li>At least one uppercase letter</li>
                          <li>At least one lowercase letter</li>
                          <li>At least one number</li>
                          <li>At least one special character (@$!%*?&)</li>
                        </ul>
                      </div>
                    </div>
                    <div *ngIf="password.valid && password.touched" class="valid-feedback">
                      <i class="bi bi-check-circle-fill"></i>
                    </div>
                  </div>

                  <input type="file" (change)="onFileSelected($event)">


                  <!-- Role -->
                  <div class="form-group position-relative">
                    <label for="role">Role *</label>
                    <select id="role" 
                            name="role" 
                            required 
                            [(ngModel)]="registerRequest.role" 
                            #role="ngModel"
                            [ngClass]="{'is-valid': role.valid && role.touched, 'is-invalid': role.invalid && role.touched}">
                            <option value="" disabled selected>{{ 'SELECT_ROLE' | translate }}</option>
                            <option value="LEARNER">{{ 'LEARNER' | translate }}</option>
                            <option value="TEACHER">{{ 'TEACHER' | translate }}</option>
                          </select>
                    <div *ngIf="role.invalid && role.touched" class="alert alert-danger">
                      Please select a role.
                    </div>
                  </div>

                  <!-- 2FA -->
                  <div class="form-group">
                    <input id="mfaEnabled" 
                           name="mfaEnabled" 
                           type="checkbox" 
                           [(ngModel)]="registerRequest.mfaEnabled">
                           <label for="mfaEnabled">{{ 'ENABLE_2FA' | translate }}</label>
                          </div>

                  <!-- reCAPTCHA -->
                  <div class="form-group">
                    <re-captcha (resolved)="onResolved($event)" siteKey="6LfbMusqAAAAAEORkynnHV2xSWotXbS6asZPHWM2"></re-captcha>
                  </div>

                  <div *ngIf="errorMessage" class="alert alert-danger">
                    {{ errorMessage }}
                  </div>
                  <button type="submit" class="btn btn-primary">{{ 'BUTTON_LOGIN' | translate }}</button>

                  <a routerLink="/login">{{ 'SIGNIN_TITLE' | translate }}</a>
                </form>
              </div> 

              <div class="container" *ngIf="authResponse.mfaEnabled">

                <div class="success-message-panel" *ngIf="message">
                  <div class="success-icon">&#10004;</div>
                  <div class="success-message">{{message}}</div>
                </div>
              
                <h2>Set Up Two-Factor Authentication</h2>
                <div class="qr-code">
                  <img [src]="authResponse.secretImageUri" alt="QR Code">
                </div>
                <div class="form-group">
                  <label for="validationCode">Enter 6 digits Validation Code Generated by the app</label>
                  <input
                    type="text"
                    id="validationCode"
                    name="validationCode"
                    required
                    [(ngModel)]="otpCode"
                  >
                </div>
                <button
                  type="button"
                  (click)="verifyTfa()"
                  [class.button-disabled]="otpCode.length < 6"
                >Verify code</button>
             
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
</main>
</body>