<body>
    <main>
      <section class="p-0 d-flex align-items-center position-relative overflow-hidden">
        <div class="container-fluid">
          <div class="row">
            <!-- Left Section -->
            <div class="col-12 col-lg-6 d-md-flex align-items-center justify-content-center bg-primary bg-opacity-10 vh-lg-100">
              <div class="p-3 p-lg-5 text-center">
                <h2 class="fw-bold">Welcome to our largest community</h2>
                <p class="mb-0 h6 fw-light">Let's learn something new today!</p>
                <img src="/assets/images/element/02.svg" class="mt-5" alt="Illustration" style="max-width: 100%; height: auto;" />
                <div class="d-sm-flex mt-5 align-items-center justify-content-center">
                  <ul class="avatar-group mb-2 mb-sm-0">
                    <li class="avatar avatar-sm"><img class="avatar-img rounded-circle" src="/assets/images/avatar/01.jpg" alt="avatar" /></li>
                    <li class="avatar avatar-sm"><img class="avatar-img rounded-circle" src="/assets/images/avatar/02.jpg" alt="avatar" /></li>
                    <li class="avatar avatar-sm"><img class="avatar-img rounded-circle" src="/assets/images/avatar/03.jpg" alt="avatar" /></li>
                    <li class="avatar avatar-sm"><img class="avatar-img rounded-circle" src="/assets/images/avatar/04.jpg" alt="avatar" /></li>
                  </ul>
                  <p class="mb-0 h6 fw-light ms-0 ms-sm-3">4k+ Students joined us, now it's your turn.</p>
                </div>
              </div>
            </div>
  
            <!-- Right Section - Angular Form -->
            <div class="col-12 col-lg-6 m-auto"  style="background-color: #FFE4C4;">
              <div class="row my-5">
                <div class="col-sm-10 col-xl-8 m-auto">
                  <img src="/assets/images/element/03.svg" class="h-40px mb-2" alt="Illustration" />
                  <h2>Sign in to your account!</h2>
                  <p class="lead mb-4">Nice to see you! Please log in with your account.</p>
  
                  <!-- Angular Form -->
                  <div class="container">
                    <form (ngSubmit)="authenticate()" #loginForm="ngForm">
                      <!-- Email -->
                      <div class="form-group position-relative">
                        <label for="username">Email</label>
                        <input id="username" 
                               name="username" 
                               required 
                               type="email" 
                               [(ngModel)]="authRequest.email" 
                               placeholder="Enter your email">
                      </div>
  
                      <!-- Password -->
                      <div class="form-group position-relative">
                        <label for="password">Password</label>
                        <input id="password" 
                               name="password" 
                               required 
                               type="password" 
                               [(ngModel)]="authRequest.password" 
                               placeholder="Enter your password">
                      </div>
  
                      <!-- Login Button -->
                      <button type="submit" 
                              [disabled]="loginForm.invalid" 
                              [ngClass]="{'disabled-button': loginForm.invalid, 'enabled-button': !loginForm.invalid}">
                        Login
                      </button>
                      <div class="separator my-4">
                        <span class="or-text">OR</span>
                      </div>
                
                      <!-- Google Sign In Button -->
                      <div class="social-login text-center">
                        <asl-google-signin-button
                          [type]="'standard'"
                          [size]="'medium'"
                          [theme]="'filled_blue'"
                          (click)="signInWithGoogle()">
                        </asl-google-signin-button>
                      </div>
                
                      <!-- Signup Link -->
                      <div class="mt-4 text-center">
                        <span>Don't have an account? <a routerLink="/register">Sign up here</a></span>
                      </div>
  
                      <!-- MFA Section if enabled -->
                      <div class="container" *ngIf="authResponse.mfaEnabled">
                        <h2>Two-Factor Authentication</h2>
                        <div class="form-group">
                          <label for="validationCode">Enter 6 digits Validation Code Generated by the app</label>
                          <input
                            type="text"
                            id="validationCode"
                            name="validationCode"
                            required
                            [(ngModel)]="otpCode"
                          >
                        </div>
                        <button type="button" (click)="verifyCode()"
                                [class.button-disabled]="otpCode.length < 6">
                          Verify code
                        </button>
                      </div>
  
                      <!-- Error Message if Form is Invalid -->
                      <div *ngIf="errorMessage" class="alert alert-danger mt-3">
                        <p>{{ errorMessage }}</p>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>