<!-- Header START -->
<header class="navbar-light navbar-sticky header-static">
  <!-- Logo Nav START -->
  <nav class="navbar navbar-expand-xl">
    <div class="container-fluid px-3 px-xl-5">
      <!-- Logo START -->
      <a class="navbar-brand" href="index.html">
        <img
          class="light-mode-item navbar-brand-item"
         />
      
      </a>
      <!-- Logo END -->

      <!-- Responsive navbar toggler -->
      <button
        class="navbar-toggler ms-auto"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-animation">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>

      <!-- Main navbar START -->
      <div class="navbar-collapse w-100 collapse" id="navbarCollapse">
        <!-- Nav Main menu START -->
        <ul class="navbar-nav navbar-nav-scroll me-auto">
          <!-- Courses & Quizzes -->
          <li class="nav-item dropdown me-3">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="coursesMenu"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Courses & Quizzes</a
            >
            <ul class="dropdown-menu" aria-labelledby="coursesMenu">
              <li><a class="dropdown-item" routerLink="/courselist">Course List</a></li>
              <li><a class="dropdown-item" routerLink="/coursedetail">Course Detail</a></li>
              <li><a class="dropdown-item" routerLink="/coursepage">Quizzes</a></li>
            </ul>
          </li>
          <!-- Market Place -->
          <li class="nav-item dropdown me-3">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="marketplaceMenu"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Market Place</a
            >
            <ul class="dropdown-menu" aria-labelledby="marketplaceMenu">
              <li><a class="dropdown-item" routerLink="/empty">Products</a></li>
              <li><a class="dropdown-item" routerLink="/empty">Categories</a></li>
              <li><a class="dropdown-item" routerLink="/empty">Cart</a></li>
              <li><a class="dropdown-item" routerLink="/empty">Checkout</a></li>
            </ul>
          </li>
          <!-- Exams & Certifications -->
          <li class="nav-item dropdown me-3">
            <a
              class="nav-link dropdown-toggle"
              routerLink="/empty"
              id="examsMenu"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Exams & Certifications</a
            >
            <ul class="dropdown-menu" aria-labelledby="examsMenu">
              <li><a class="dropdown-item" routerLink="/empty">Upcoming Exams</a></li>
              <li>
                <a class="dropdown-item" routerLink="/empty">Certification Programs</a>
              </li>
              <li><a class="dropdown-item" routerLink="/empty">Exam Results</a></li>
            </ul>
          </li>
          <!-- Coding Games & Interactive Learning -->
          <li class="nav-item dropdown me-3">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="codingGamesMenu"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Coding Games & Interactive Learning</a
            >
            <ul class="dropdown-menu" aria-labelledby="codingGamesMenu">
              <li>
                <a class="dropdown-item" routerLink="/empty">Coding Challenges</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/empty">Interactive Tutorials</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/empty">Game-Based Learning</a>
              </li>
            </ul>
          </li>
          <!-- Forum -->
          <li class="nav-item dropdown me-3">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="forumMenu"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Forum</a
            >
            <ul class="dropdown-menu" aria-labelledby="forumMenu">
              <li>
                <a class="dropdown-item" routerLink="/empty">Discussion Boards</a>
              </li>
              <li><a class="dropdown-item" routerLink="/empty">Q&A</a></li>
              <li>
                <a class="dropdown-item" routerLink="/empty">Community Guidelines</a>
              </li>
            </ul>
          </li>
          <!-- Tutoring -->
          <li class="nav-item dropdown me-3">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="tutoringMenu"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Tutoring</a
            >
            <ul class="dropdown-menu" aria-labelledby="tutoringMenu">
              <li><a class="dropdown-item" routerLink="/student-virtual-classroom-sessions">Virtual Classrooms</a></li>
              <li><a class="dropdown-item" routerLink="/student-tutoring">Tutoring Porgrams</a></li>

            </ul>
          </li>
          <!-- Donate -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/empty">Donate</a>
          </li>
          <!-- Check Profile -->
          <li class="nav-item ms-3">
            <a routerLink="/studentdashboard">Check Profile</a>
          </li>
        </ul>
        <!-- Nav Main menu END -->
      </div>
      <!-- Main navbar END -->
    </div>
  </nav>
  <!-- Logo Nav END -->
</header>
<!-- Header END -->
