<div class="detail-container">
    <h2 class="detail-title">Problem Details</h2>
    <p><span class="detail-label">Title:</span> <span class="detail-content">{{ problem?.title }}</span></p>
    <p><span class="detail-label">Description:</span> <span class="detail-content">{{ problem?.description }}</span></p>
    <p><span class="detail-label">Expected Output:</span> <span class="detail-content">{{ problem?.expectedOutput }}</span></p>
  
    <a class="back-btn" routerLink="/backoffice/problems">⬅ Back to List</a>
  </div>
  