<div class="container">
    <h2 class="title">Modifier l'utilisateur</h2>
  
    <form [formGroup]="updateForm" (ngSubmit)="updateUser()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" class="form-control" [attr.disabled]="true" />
    </div>
      
      <div class="form-group">
        <label for="firstname">Prénom</label>
        <input type="text" id="firstname" formControlName="firstname" class="form-control" />
      </div>
  
      <div class="form-group">
        <label for="lastname">Nom</label>
        <input type="text" id="lastname" formControlName="lastname" class="form-control" />
      </div>
  
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" formControlName="password" class="form-control" />
      </div>
  
      <div class="form-group form-check">
        <input type="checkbox" id="mfaEnabled" formControlName="mfaEnabled" class="form-check-input" />
        <label for="mfaEnabled" class="form-check-label">Activer MFA</label>
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="updateForm.invalid || loading">Mettre à jour</button>
      <a [routerLink]="'/'" class="btn btn-secondary">Annuler</a>
    </form>
  </div>
  