<body>
    <!-- **************** MAIN CONTENT START **************** -->
    <main>
      <!-- =======================
Page Banner START -->
      <section class="py-5 price-wrap">
        <div class="container">
          <div class="row g-4 position-relative mb-4">
            <!-- SVG decoration -->
            <figure class="position-absolute top-0 start-0 d-none d-sm-block">
              <svg width="22px" height="22px" viewbox="0 0 22 22">
                <polygon
                  class="fill-purple"
                  points="22,8.3 13.7,8.3 13.7,0 8.3,0 8.3,8.3 0,8.3 0,13.7 8.3,13.7 8.3,22 13.7,22 13.7,13.7 22,13.7 "
                ></polygon>
              </svg>
            </figure>

            <!-- Title and Search -->
            <div class="col-lg-10 mx-auto text-center position-relative">
              <!-- SVG decoration -->
              <figure
                class="position-absolute top-50 end-0 translate-middle-y d-none d-md-block"
              >
                <svg width="27px" height="27px">
                  <path
                    class="fill-orange"
                    d="M13.122,5.946 L17.679,-0.001 L17.404,7.528 L24.661,5.946 L19.683,11.533 L26.244,15.056 L18.891,16.089 L21.686,23.068 L15.400,19.062 L13.122,26.232 L10.843,19.062 L4.557,23.068 L7.352,16.089 L-0.000,15.056 L6.561,11.533 L1.582,5.946 L8.839,7.528 L8.565,-0.001 L13.122,5.946 Z"
                  ></path>
                </svg>
              </figure>
              <!-- Title -->
              <h1>Affordable Pricing Packages</h1>
              <p class="mb-4 pb-1">
                Perceived end knowledge certainly day sweetness why cordially
              </p>

              <!-- Switch START -->
              <form class="d-flex align-items-center justify-content-center">
                <!-- Label -->
                <span class="h6 mb-0 fw-bold">Monthly</span>
                <!-- Switch -->
                <div class="form-check form-switch form-check-lg mx-3 mb-0">
                  <input
                    class="form-check-input mt-0 price-toggle"
                    type="checkbox"
                    id="flexSwitchCheckDefault"
                  />
                </div>
                <!-- Label -->
                <div class="position-relative">
                  <span class="h6 mb-0 fw-bold">Yearly</span>
                  <span
                    class="badge bg-danger bg-opacity-10 text-danger ms-1 position-absolute top-0 start-100 translate-middle mt-n2 ms-2 ms-md-5"
                    >10% discount</span
                  >
                </div>
              </form>
              <!-- Switch END -->
            </div>
          </div>
          <!-- Pricing START -->
          <div class="row g-4 justify-content-center">
            <!-- Pricing item START -->
            <div class="col-md-6 col-xl-3">
              <div class="card border rounded-3 p-2 p-sm-4 h-100">
                <!-- Card Header -->
                <div class="card-header p-0">
                  <!-- Price and Info -->
                  <div
                    class="d-flex justify-content-between align-items-center p-3 bg-light rounded-2"
                  >
                    <!-- Info -->
                    <div>
                      <h5 class="mb-0">Iron</h5>
                      <div class="badge bg-dark mb-0 rounded-pill">Free</div>
                    </div>
                    <!-- Price -->
                    <div>
                      <h4
                        class="text-success mb-0 plan-price"
                        data-monthly-price="$0"
                        data-annual-price="$0"
                      >
                        $0
                      </h4>
                      <p class="small mb-0">/ per user</p>
                    </div>
                  </div>
                </div>

                <!-- Divider -->
                <div class="position-relative my-3 text-center">
                  <hr />
                  <p
                    class="small position-absolute top-50 start-50 translate-middle bg-body px-3"
                  >
                    All plans included
                  </p>
                </div>

                <!-- Card Body -->
                <div class="card-body pt-0">
                  <ul class="list-unstyled mt-2 mb-0">
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Access to Free Courses
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Profile Management
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Basic Quizzes (Limited to 5/mo)
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Course Resources (Limited to PDFs)
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-x-octagon-fill text-danger me-2"></i>No
                      Badges
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-x-octagon-fill text-danger me-2"></i>No
                      Certifications
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-x-octagon-fill text-danger me-2"></i>No
                      Audio-Visual Capsules
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-x-octagon-fill text-danger me-2"></i>No
                      Coding Games
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-x-octagon-fill text-danger me-2"></i>No
                      Private Tutoring
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-x-octagon-fill text-danger me-2"></i>No
                      Priority Support
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-x-octagon-fill text-danger me-2"></i>No
                      Offline Access
                    </li>
                    <li class="h6 fw-light">
                      <i class="bi bi-x-octagon-fill text-danger me-2"></i>No
                      Discounts on Courses
                    </li>
                  </ul>
                </div>
                <!-- Card Footer -->
                <div class="card-footer text-center d-grid pb-0">
                  <button type="button" class="btn btn-light mb-0">
                    Get Started
                  </button>
                </div>
              </div>
            </div>
            <!-- Pricing item END -->

            <!-- Pricing item START -->
            <div class="col-md-6 col-xl-3">
              <div class="card border rounded-3 p-2 p-sm-4 h-100">
                <!-- Card Header -->
                <div class="card-header p-0">
                  <!-- Price and Info -->
                  <div
                    class="d-flex justify-content-between align-items-center p-3 bg-light rounded-2"
                  >
                    <!-- Info -->
                    <div>
                      <h5 class="mb-0">Copper</h5>
                      <div class="badge bg-grad mb-0 rounded-pill">
                        Recommended
                      </div>
                    </div>
                    <!-- Price -->
                    <div>
                      <h4
                        class="text-success mb-0 plan-price"
                        data-monthly-price="$20"
                        data-annual-price="$240"
                      >
                        $20
                      </h4>
                      <p class="small mb-0">/ per user</p>
                    </div>
                  </div>
                </div>

                <!-- Divider -->
                <div class="position-relative my-3 text-center">
                  <hr />
                  <p
                    class="small position-absolute top-50 start-50 translate-middle bg-body px-3"
                  >
                    All plans included
                  </p>
                </div>

                <!-- Card Body -->
                <div class="card-body pt-0">
                  <ul class="list-unstyled mt-2 mb-0">
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Access to Free Courses
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Profile Management
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Basic Quizzes (Limited to 10/mo)
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Course Resources (PDFs + Code Snippets)
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Badges (Basic)
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Certifications (1/mo)
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-x-octagon-fill text-danger me-2"></i>No
                      Audio-Visual Capsules
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Coding Games (Beginner)
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-x-octagon-fill text-danger me-2"></i>No
                      Private Tutoring
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Priority Support (Email)
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-x-octagon-fill text-danger me-2"></i>No
                      Offline Access
                    </li>
                    <li class="h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Discounts on Courses (10%)
                    </li>
                  </ul>
                </div>
                <!-- Card Footer -->
                <div class="card-footer text-center d-grid pb-0">
                  <button type="button" class="btn btn-dark mb-0">
                    Get Started
                  </button>
                </div>
              </div>
            </div>
            <!-- Pricing item END -->

            <!-- Pricing item START -->
            <div class="col-md-6 col-xl-3">
              <div class="card border rounded-3 p-2 p-sm-4 h-100">
                <!-- Card Header -->
                <div class="card-header p-0">
                  <!-- Price and Info -->
                  <div
                    class="d-flex justify-content-between align-items-center p-3 bg-light rounded-2"
                  >
                    <!-- Info -->
                    <div>
                      <h5 class="mb-0">Silver</h5>
                      <div class="badge bg-dark mb-0 rounded-pill">
                        Best value
                      </div>
                    </div>
                    <!-- Price -->
                    <div>
                      <h4
                        class="text-success mb-0 plan-price"
                        data-monthly-price="$25"
                        data-annual-price="$300"
                      >
                        $25
                      </h4>
                      <p class="small mb-0">/ per user</p>
                    </div>
                  </div>
                </div>

                <!-- Divider -->
                <div class="position-relative my-3 text-center">
                  <hr />
                  <p
                    class="small position-absolute top-50 start-50 translate-middle bg-body px-3"
                  >
                    All plans included
                  </p>
                </div>

                <!-- Card Body -->
                <div class="card-body pt-0">
                  <ul class="list-unstyled mt-2 mb-0">
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Access to Free Courses
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Profile Management
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Basic Quizzes (Limited to 20/mo)
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Course Resources (PDFs + Code + Audio Clips)
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Badges (Advanced)
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Certifications (3/mo)
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Audio-Visual Capsules
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Coding Games (Intermediate)
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-x-octagon-fill text-danger me-2"></i>No
                      Private Tutoring
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Priority Support (Email)
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Offline Access (Audio Only)
                    </li>
                    <li class="h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Discounts on Courses (20%)
                    </li>
                  </ul>
                </div>
                <!-- Card Footer -->
                <div class="card-footer text-center d-grid pb-0">
                  <button type="button" class="btn btn-light mb-0">
                    Get Started
                  </button>
                </div>
              </div>
            </div>
            <!-- Pricing item END -->

            <!-- Pricing item START -->
            <div class="col-md-6 col-xl-3">
              <div class="card border rounded-3 p-2 p-sm-4 h-100">
                <!-- Card Header -->
                <div class="card-header p-0">
                  <!-- Price and Info -->
                  <div
                    class="d-flex justify-content-between align-items-center p-3 bg-light rounded-2"
                  >
                    <!-- Info -->
                    <div>
                      <h5 class="mb-0">Gold</h5>
                      <div class="badge bg-dark mb-0 rounded-pill">
                        Best value
                      </div>
                    </div>
                    <!-- Price -->
                    <div>
                      <h4
                        class="text-success mb-0 plan-price"
                        data-monthly-price="$35"
                        data-annual-price="$420"
                      >
                        $35
                      </h4>
                      <p class="small mb-0">/ per user</p>
                    </div>
                  </div>
                </div>

                <!-- Divider -->
                <div class="position-relative my-3 text-center">
                  <hr />
                  <p
                    class="small position-absolute top-50 start-50 translate-middle bg-body px-3"
                  >
                    All plans included
                  </p>
                </div>

                <!-- Card Body -->
                <div class="card-body pt-0">
                  <ul class="list-unstyled mt-2 mb-0">
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Access to Free Courses
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Profile Management
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Basic Quizzes (Unlimited)
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Course Resources (All + Video Downloads)
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Badges (Exclusive)
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Certifications (Unlimited)
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Audio-Visual Capsules
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Coding Games (Advanced + Multiplayer)
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Private Tutoring (2 sessions/mo)
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Priority Support (24/7 Live Chat + Email)
                    </li>
                    <li class="mb-3 h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Offline Access (All Content)
                    </li>
                    <li class="h6 fw-light">
                      <i class="bi bi-patch-check-fill text-success me-2"></i
                      >Discounts on Courses (30%)
                    </li>
                  </ul>
                </div>
                <!-- Card Footer -->
                <div class="card-footer text-center d-grid pb-0">
                  <button type="button" class="btn btn-light mb-0">
                    Get Started
                  </button>
                </div>
              </div>
            </div>
            <!-- Pricing item END -->
          </div>
          <!-- Row END -->
          <!-- Pricing END -->
        </div>
      </section>
      <!-- =======================
Page Banner END -->
    </main>
    <!-- **************** MAIN CONTENT END **************** -->
    <!-- Back to top -->
    <div class="back-top">
      <i
        class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"
      ></i>
    </div>

  

