<main>
  <!-- =======================
  Page Banner START -->
  <section class="bg-dark align-items-center d-flex" style="background:url(/assets/images/pattern/04.png) no-repeat center center; background-size:cover;">
    <!-- Main banner background image -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Title -->
          <h1 class="text-white">Course Study Page</h1>
          <!-- Breadcrumb -->
          <div class="d-flex">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-dark breadcrumb-dots mb-0">
                <li class="breadcrumb-item"><a routerLink="/studenthome">Home</a></li>
                <li class="breadcrumb-item"><a routerLink="/courselist">Courses</a></li>
                <li class="breadcrumb-item active" aria-current="page">Study</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- =======================
  Page Banner END -->

  <!-- =======================
  Page content START -->
  <section class="pb-0 py-sm-5">
    <div class="container">
      <div class="row">
        <!-- Main content START -->
        <div class="col-lg-8">
          <div class="bg-body shadow rounded-2 p-4">
            <!-- Course video START -->
            <div class="ratio ratio-16x9 mb-4">
              <iframe src="https://www.youtube.com/embed/tXHviS-4ygo" title="YouTube video" allowfullscreen></iframe>
            </div>
            <!-- Course video END -->

            <!-- Course details START -->
            <h3 class="mb-3">Course Title: The Complete Digital Marketing Course</h3>
            <p class="mb-3">Welcome to the <strong>Digital Marketing Ultimate Course Bundle - 12 Courses in 1 (Over 36 hours of content)</strong></p>
            <p class="mb-3">In this practical hands-on training, you’re going to learn to become a digital marketing expert with this <strong>ultimate course bundle that includes 12 digital marketing courses in 1!</strong></p>
            <p class="mb-3">If you wish to find out the skills that should be covered in a basic digital marketing course syllabus in India or anywhere around the world, then reading this blog will help. Before we delve into the advanced <strong><a href="#" class="text-reset text-decoration-underline">digital marketing course</a></strong> syllabus, let’s look at the scope of digital marketing and what the future holds.</p>
            <p class="mb-0">We focus a great deal on the understanding of behavioral psychology and influence triggers which are crucial for becoming a well-rounded Digital Marketer. We understand that theory is important to build a solid foundation, we understand that theory alone isn’t going to get the job done so that’s why this course is packed with practical hands-on examples that you can follow step by step.</p>
            <!-- Course details END -->

            <!-- Add Quiz Button START -->
            <div class="mt-4">
              <a routerLink="/coursequiz" class="btn btn-primary">Take the Quiz</a>
            </div>
            <!-- Add Quiz Button END -->

            <!-- Course curriculum START -->
            <h5 class="mt-4">Course Curriculum</h5>
            <div class="accordion accordion-icon accordion-bg-light" id="accordionExample">
              <!-- Item -->
              <div class="accordion-item mb-3">
                <h6 class="accordion-header font-base" id="heading-1">
                  <button class="accordion-button fw-bold rounded d-sm-flex d-inline-block collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                    Introduction of Digital Marketing 
                    <span class="small ms-0 ms-sm-2">(3 Lectures)</span> 
                  </button>
                </h6>
                <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#accordionExample">
                  <div class="accordion-body mt-3">
                    <!-- Course lecture -->
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="position-relative d-flex align-items-center">
                        <a href="#" class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static">
                          <i class="fas fa-play me-0"></i>
                        </a>
                        <span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px">Introduction</span>
                      </div>
                      <p class="mb-0">2m 10s</p>
                    </div>

                    <hr> <!-- Divider -->

                    <!-- Course lecture -->
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="position-relative d-flex align-items-center">
                        <a href="#" class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static">
                          <i class="fas fa-play me-0"></i>
                        </a>
                        <span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px">What is Digital Marketing</span>
                      </div>
                      <p class="mb-0 text-truncate">15m 10s</p>
                    </div>

                    <hr> <!-- Divider -->

                    <!-- Course lecture -->
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="position-relative d-flex align-items-center">
                        <a href="#" class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static">
                          <i class="fas fa-play me-0"></i>
                        </a>
                        <span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px">Type of Digital Marketing</span>
                      </div>
                      <p class="mb-0">18m 10s</p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Item -->
              <div class="accordion-item mb-3">
                <h6 class="accordion-header font-base" id="heading-2">
                  <button class="accordion-button fw-bold collapsed rounded d-sm-flex d-inline-block" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                    Customer Life cycle
                    <span class="small ms-0 ms-sm-2">(4 Lectures)</span> 
                  </button>
                </h6>
                <div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="heading-2" data-bs-parent="#accordionExample">
                  <!-- Accordion body START -->
                  <div class="accordion-body mt-3">
                    <!-- Course lecture -->
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="position-relative d-flex align-items-center">
                        <a href="#" class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static">
                          <i class="fas fa-play me-0"></i>
                        </a>
                        <span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px">What is Digital Marketing</span>
                      </div>
                      <p class="mb-0">11m 20s</p>
                    </div>

                    <hr> <!-- Divider -->

                    <!-- Course lecture -->
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="position-relative d-flex align-items-center">
                        <a href="#" class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static">
                          <i class="fas fa-play me-0"></i>
                        </a>
                        <span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px">15 Tips for Writing Magnetic Headlines</span>
                      </div>
                      <p class="mb-0 text-truncate">25m 20s</p>
                    </div>
                    
                    <hr> <!-- Divider -->

                    <!-- Course lecture -->
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="position-relative d-flex align-items-center">
                        <a href="#" class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static">
                          <i class="fas fa-play me-0"></i>
                        </a>
                        <span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px">How to Write Like Your Customers Talk</span>
                      </div>
                      <p class="mb-0">11m 30s</p>
                    </div>
                    
                    <hr> <!-- Divider -->

                    <!-- Course lecture -->
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="position-relative d-flex align-items-center">
                        <div>
                          <a href="#" class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="fas fa-play me-0"></i>
                          </a>
                        </div>
                        <div class="row g-sm-0 align-items-center">
                          <div class="col-sm-6">
                            <span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-md-400px">How to Flip Features Into Benefits</span>
                          </div>
                          <div class="col-sm-6">
                            <span class="badge bg-orange text-white ms-2 ms-md-0"><i class="fas fa-lock fa-fw me-1"></i>Premium</span>
                          </div>
                        </div>
                      </div>
                      <p class="mb-0 d-inline-block text-truncate w-70px w-sm-60px">35m 30s</p>
                    </div>
                  </div>
                  <!-- Accordion body END -->
                </div>
              </div>

              <!-- Item -->
              <div class="accordion-item mb-3">
                <h6 class="accordion-header font-base" id="heading-5">
                  <button class="accordion-button fw-bold collapsed rounded d-sm-flex d-inline-block" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                    What is Search Engine Optimization(SEO) 
                    <span class="small ms-0 ms-sm-2">(10 Lectures)</span> 
                  </button>
                </h6>
                <div id="collapse-5" class="accordion-collapse collapse" aria-labelledby="heading-5" data-bs-parent="#accordionExample">
                  <!-- Accordion body START -->
                  <div class="accordion-body mt-3">
                    <!-- Course lecture -->
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="position-relative d-flex align-items-center">
                        <a href="#" class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static">
                          <i class="fas fa-play me-0"></i>
                        </a>
                        <span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px">Introduction</span>
                      </div>
                      <p class="mb-0">1m 10s</p>
                    </div>
                        
                    <hr> <!-- Divider -->

                    <!-- Course lecture -->
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="position-relative d-flex align-items-center">
                        <a href="#" class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static">
                          <i class="fas fa-play me-0"></i>
                        </a>
                        <span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px">Overview of SEO</span>
                      </div>
                      <p class="mb-0 text-truncate">11m 03s</p>
                    </div>

                    <hr> <!-- Divider -->

                    <!-- Course lecture -->
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="position-relative d-flex align-items-center">
                        <a href="#" class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static">
                          <i class="fas fa-play me-0"></i>
                        </a>
                        <span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px">How to SEO Optimise Your Homepage</span>
                      </div>
                      <p class="mb-0">15m 00s</p>
                    </div>
                    
                    <hr> <!-- Divider -->

                    <!-- Course lecture -->
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="position-relative d-flex align-items-center">
                        <a href="#" class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static">
                          <i class="fas fa-play me-0"></i>
                        </a>
                        <span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px">How to Write Title Tags Search Engines Love</span>
                      </div>
                      <p class="mb-0">25m 30s</p>
                    </div>
                    
                    <hr> <!-- Divider -->

                    <!-- Course lecture -->
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="position-relative d-flex align-items-center">
                        <a href="#" class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static">
                          <i class="fas fa-play me-0"></i>
                        </a>
                        <span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px">SEO Keyword Planning</span>
                      </div>
                      <p class="mb-0">18m 10s</p>
                    </div>
                    
                    <hr> <!-- Divider -->

                    <!-- Course lecture -->
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="position-relative d-flex align-items-center">
                        <a href="#" class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static">
                          <i class="fas fa-play me-0"></i>
                        </a>
                        <span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px">eCommerce SEO</span>
                      </div>
                      <p class="mb-0">28m 10s</p>
                    </div>
                    
                    <hr> <!-- Divider -->

                    <!-- Course lecture -->
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="position-relative d-flex align-items-center">
                        <a href="#" class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static">
                          <i class="fas fa-play me-0"></i>
                        </a>
                        <span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px">Internal and External Links</span>
                      </div>
                      <p class="mb-0">45m 10s</p>
                    </div>
                    
                    <hr> <!-- Divider -->

                    <!-- Course lecture -->
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="position-relative d-flex align-items-center">
                        <a href="#" class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static">
                          <i class="fas fa-play me-0"></i>
                        </a>
                        <span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px">Mobile SEO</span>
                      </div>
                      <p class="mb-0">8m 10s</p>
                    </div>
                    
                    <hr> <!-- Divider -->

                    <!-- Course lecture -->
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="position-relative d-flex align-items-center">
                        <a href="#" class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static">
                          <i class="fas fa-play me-0"></i>
                        </a>
                        <span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px">Off-page SEO</span>
                      </div>
                      <p class="mb-0">18m 10s</p>
                    </div>
                    
                    <hr> <!-- Divider -->

                    <!-- Course lecture -->
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="position-relative d-flex align-items-center">
                        <a href="#" class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static">
                          <i class="fas fa-play me-0"></i>
                        </a>
                        <span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px">Measuring SEO Effectiveness</span>
                      </div>
                      <p class="mb-0">35m 10s</p>
                    </div>
                  </div>
                  <!-- Accordion body END -->
                </div>
              </div>
            </div>
            <!-- Course curriculum END -->
          </div>
        </div>
        <!-- Main content END -->

        <!-- Right sidebar START -->
        <div class="col-lg-4 pt-5 pt-lg-0">
          <div class="row mb-5 mb-lg-0">
            <div class="col-md-6 col-lg-12">
              <!-- Course info START -->
              <div class="card card-body shadow p-4 mb-4">
                <!-- Title -->
                <h4 class="mb-3">Course Information</h4>
                <ul class="list-group list-group-borderless">
                  <li class="list-group-item d-flex justify-content-between align-items-center">

