<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>:: e-Learn:: Students</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->
    <!-- plugin css file  -->
    <link rel="stylesheet" href="/assetsback/css/carousel.min.css" />
    <!-- project css file  -->
    <link rel="stylesheet" href="/assetsback/css/e-learn.style.min.css">
    <!-- Google Code  -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-264428387-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-264428387-1');
    </script>
</head>
<body>

<div id="elearn-layout" class="theme-purple">
    <!-- Sidebar -->
    <div class="sidebar px-4 py-4 py-md-4 me-0">
        <div class="d-flex flex-column h-100">
            <a routerLink="/Admin" class="mb-0 brand-icon">
                <span class="logo-icon">
                    <svg width="35" height="35" fill="currentColor" class="bi bi-app-indicator" viewBox="0 0 16 16">
                        <path d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1H5.5z"/>
                        <path d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    </svg>
                </span>
                <span class="logo-text">e-Learn</span>
            </a>
            <!-- Menu -->
            <ul class="menu-list flex-grow-1 mt-3">
                <li><a class="m-link" routerLink="/Admin"><i class="icofont-ui-home"></i><span>Dashboard</span></a></li>
                <li><a class="m-link" routerLink="/Class"><i class="icofont-read-book-alt"></i><span>Classes</span></a></li>
                <li><a class="m-link active" routerLink="/Student"><i class="icofont-group-students"></i><span>Students</span></a></li>
                <!-- Other menu items... -->
            </ul>
            <!-- Sidebar Toggle Button -->
            <button type="button" class="btn btn-link sidebar-mini-btn text-light">
                <span class="ms-2"><i class="icofont-bubble-right"></i></span>
            </button>
        </div>
    </div>

    <!-- Main Body Area -->
    <div class="main px-lg-4 px-md-4">
        <div class="container-xxl">
            <!-- Header Rightbar -->
            <div class="h-right d-flex align-items-center mr-5 mr-lg-0 order-1">
                <a class="nav-link text-danger ms-4" href="login.html" title="Log out">
                    <i class="icofont-sign-out fs-5"></i>
                </a>
            </div>

            <!-- Content -->
            <div class="row">
                <div class="col-md-12">
                    <h4 class="mb-4">Students</h4>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let student of students">
                                    <td>{{ student.id }}</td>
                                    <td>{{ student.name }}</td>
                                    <td>{{ student.email }}</td>
                                    <td>{{ student.role }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="/assetsback/js/bootstrap.bundle.min.js"></script>
<script src="/assetsback/js/e-learn.bundle.min.js"></script>
<script src="/assetsback/js/main.js"></script>
</body>
</html>
