.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.search-input {
  padding: 8px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-button {
  padding: 8px 15px;
  margin-left: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.search-button:hover {
  background-color: #0056b3;
}
.search-container {
  margin-bottom: 20px; /* Ajustez selon vos besoins */
}

